#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    flavor = "balanced";
};

&lt { tapping-term-ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";

        combo_studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp TAB>;
        };

        Qoute {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <21 22>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <13 14>;
        };

        rightbrace {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <9 10>;
        };

        leftbbrace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <8 9>;
        };

        paran {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <7 8>;
        };

        resetl {
            bindings = <&sys_reset>;
            key-positions = <13 14 15 16>;
            timeout-ms = <200>;
        };

        resetr {
            bindings = <&sys_reset>;
            key-positions = <19 20 21 22>;
            timeout-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q           &kp W           &kp E             &kp R         &kp T        &kp Y      &kp U        &kp I              &kp O            &kp P               &kp BSPC
&kp LCTRL  &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LCTRL F   &kp G        &kp H      &mt RCTRL J  &mt RIGHT_SHIFT K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI  &mt LEFT_GUI SEMI
&kp LSHFT  &kp Z           &kp X           &kp C             &kp V         &kp B        &kp N      &kp M        &kp COMMA          &kp DOT          &kp FSLH            &kp ESC
                                           &kp TAB           &lt 1 ESCAPE  &lt 2 ENTER  &kp SPACE  &kp BSPC     &kp LALT
            >;
        };

        lower_layer {
            display-name = "lower";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &kp N1           &kp N2        &kp N3          &kp N4            &kp N5          &kp N6     &kp N7             &kp N8           &kp N9         &kp N0         &kp BSPC
&bt BT_CLR  &sk LEFT_GUI     &sk LEFT_ALT  &sk LEFT_SHIFT  &sk LEFT_CONTROL  &kp APOS        &kp LEFT   &sk RIGHT_CONTROL  &sk RIGHT_SHIFT  &sk RIGHT_ALT  &sk RIGHT_GUI  &trans
&kp LSHFT   &kp PRINTSCREEN  &trans        &trans          &kp GRAVE         &studio_unlock  &trans     &trans             &trans           &trans         &trans         &trans
                                           &kp LGUI        &trans            &kp ENTER       &kp SPACE  &kp BACKSPACE      &kp DELETE
            >;
        };

        raise_layer {
            display-name = "raise";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL   &kp AT                &kp HASH              &kp DLLR           &kp PRCNT        &kp CARET  &kp AMPS  &kp ASTRK     &kp LPAR         &kp RPAR  &kp BSPC
&kp LCTRL  &kp MINUS  &kp EQUAL             &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp C_VOLUME_UP  &kp LEFT   &kp DOWN  &kp UP_ARROW  &kp RIGHT_ARROW  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans     &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp K_MUTE         &kp C_VOL_DN     &kp UNDER  &kp PLUS  &kp LBRC      &kp RBRC         &kp PIPE  &kp TILDE
                                            &kp LGUI              &trans             &kp ENTER        &kp SPACE  &trans    &kp LALT
            >;
        };

        extra_layer0 {
            display-name = "extra_layer0";
            status = "reserved";
        };

        extra_layer1 {
            display-name = "extra_layer1";
            status = "reserved";
        };

        extra_layer2 {
            display-name = "extra_layer2";
            status = "reserved";
        };
    };
};
